# python cache / artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# jupyter
*.ipynb_checkpoints/

# env files
.env
*.env

# data
data/
*.png
*.jpeg
*.jpg

# daily data directories
2026/day_1/
2026/day_2/
